.page{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.header{
    height: 5vh;
    background-color: #003340;
    width: 100%;
}
.heading{
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-family: opensans-condensed-bold;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    color:rgba(255,255,255,0.7);
}
.main{
    height: 90vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 100%;
}