@inherits LayoutComponentBase
<div class="page">
    <div class="header">
        <div class="">
            <h1 class="col-1 heading">capstone</h1>
        </div>
    </div>
    <div class="main">
        @Body
    </div>
</div>

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />